<div class="container">
    <div class="page-header">
        <h1>Список рецептов</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <input type="text" ng-model="filterText" class="form-control" placeholder="Введите название">
        </div>
    </div>
    <div >
        <div ng-repeat="item in items | filter:filterText">
            <h2><a href="/#/detail/{{ item.var_var_id }}">{{ item.rec_rec.recipe_name }}</a></h2>
        </div>

    </div>

</div>